{% extends 'DMPresentationBundle::layout.html.twig' %}
{% import _self as macros %}

{% block body %}
{{ parent() }}
	<div class="container">

	{{ pagerfanta(reports, 'twitter_bootstrap3_translated', options|default({})) }}
	
		<table class="table table-striped">
		<tr> 
			<th>Created At</th> <th>Date From</th> <th>Date To</th> <th>Trend label</th> <th>Result</th>
		</tr>
		{% for report in reports %}
		<tr> 
			<td>{{ report.createdAt|date() }}</td>
			<td>{{ report.dateFrom|date() }}</td>
			<td>{{ report.dateTo|date() }}</td> 
			<td>{{ trendLabels[report.trend.label|default('')] }}</td>
			<td>{{ macros.displayResult(report.trend.result,report) }}</td>
		</tr>
		{% endfor %}
		</table>
	{{ pagerfanta(reports, 'twitter_bootstrap3_translated', options|default({})) }}
	</div>
{% endblock body %}


{% macro displayResult(resultCollection, report) %}
    {% set singleResult = resultCollection|first %}
    {% if singleResult.type == 'amount' %}
    	{{ singleResult.value|number_format(2,'.',',') }}
    {% elseif singleResult.type == 'count' %}
    	{{ singleResult.value }}
    {% elseif (resultCollection|length > 1) and (singleResult.type is null) %}
    	<a href="{{ path('admin_report_view',{'id':report.id}) }}"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span></a>
    {% endif %}
{% endmacro %}
