<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/dmpresentation/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/dmpresentation/css/starter-template.css') }}" />
        {% endblock stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/dmpresentation/js/jquery.min.js') }}"></script>
            <script src="{{ asset('bundles/dmpresentation/js/bootstrap.min.js') }}"></script>
        {% endblock javascripts%}
    </body>
</html>
